#Listado de archivos ignorados
ESE_GRS-Mantenimiento.sdf
ESE_GRS-Mantenimiento.sln
ESE_GRS-Mantenimiento.sdf
ESE_GRS-Mantenimiento.v11.suo
ESE_GRS-Mantenimiento.opensdf
ESE_GRS-Mantenimiento/ESE_GRS-Mantenimiento.vcxproj
ESE_GRS-Mantenimiento/ESE_GRS-Mantenimiento.vcxproj.filters
ESE_GRS-Mantenimiento/MyForm.resx
ESE_GRS-Mantenimiento/Debug